@tailwind base;
@tailwind components;
@tailwind utilities;

.flex.overflow-x-auto::-webkit-scrollbar {
    display: none;
  }

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.custom-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.custom-tooltip .tooltip-text {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
}

.custom-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
